html {
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
}

body {
  margin: 0 10vw;
  max-width: 80vw;
  padding: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
}

nav {
  position: relative;
  width: 100vw;
  left: -10vw;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(to right, #00705a, #00a15e);
  color: #ffffff;
  box-shadow: 0 2px 4px #00000037;
}

.container {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px #0000001a;
  margin-top: 2rem;
}

#itemForm {
  /* Use flexbox to align content inside the element */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox) */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model) */
  display: flex; /* Standard syntax for modern browsers (widely supported) */

  -webkit-box-orient: vertical; /* For older versions of Chrome and Safari */
  -webkit-box-direction: normal; /* For older versions of Chrome and Safari */
  -ms-flex-direction: column; /* For Internet Explorer 10 */
  flex-direction: column; /* Standard syntax for modern browsers (widely supported) */

  align-items: center;
  margin-bottom: 2rem;
}

#itemForm label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  padding: 0.75rem;
  width: 100%;
  max-width: 300px;
  transition: border 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #00705a;
  outline: none;
}

.button-group {
  /* Use flexbox to align content inside the element */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox) */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model) */
  display: flex; /* Standard syntax for modern browsers (widely supported) */
  justify-content: center;
  gap: 1rem; /* Set the gap between items of the element */
}

#submitButton,
#clearButton {
  border: none;
  background: #00705a;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  border-radius: 5px;
}

#submitButton:hover,
#editButton:hover,
#clearButton:hover {
  background: #00795a;
  transform: translateY(-2px);
}

.button-container {
  width: 100%; /* Set the width of the element */
  /* Use flexbox to align content inside the element */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox) */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model) */
  display: flex; /* Standard syntax for modern browsers (widely supported) */

  -webkit-box-orient: vertical; /* For older versions of Chrome and Safari */
  -webkit-box-direction: normal; /* For older versions of Chrome and Safari */
  -ms-flex-direction: column; /* For Internet Explorer 10 */
  flex-direction: column; /* Standard syntax for modern browsers (widely supported) */

  justify-content: space-between;
  gap: 0; /* Set the gap between items of the element */
}

.editButton {
  border: none;
  background: #00705a;
  color: #ffffff;
  margin: 0 0 5px;
  padding: 0.5rem 0; /* Set the padding of the element */
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  border-radius: 5px;
}

.deleteButton {
  border: none;
  background: #b10000;
  color: #ffffff;
  padding: 0.5rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  border-radius: 5px;
  width: 100%;
}

.deleteButton:hover {
  background: #bf0000;
  transform: translateY(-2px);
}
.button-container {
  width: 100%; /* Set the width of the element */
  /* Use flexbox to align content inside the element */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox) */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model) */
  display: flex; /* Standard syntax for modern browsers (widely supported) */
  justify-content: space-between;
}

.editButton,
.deleteButton {
  border: none;
  background: #00705a;
  color: #ffffff;
  padding: 0.5rem; /* Set the padding of the element */
  cursor: pointer;
  transition: background 0.3s, transform 0.25s;
  border-radius: 5px;
  width: auto; /* Set the width of the element */
}

.deleteButton {
  background: #b10000;
}

#itemsDiv {
  margin-top: 2rem;
  min-width: 80vw;
  width: 80vw;
}

.item {
  display: grid;
  grid-template-columns: 2.5rem 1fr 5rem;
  margin: 10px 0;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0000001a;
  padding: 0.5rem;
  align-items: center;
  transition: transform 0.2s;
}

.item:hover {
  transform: scale(1.02);
}

p {
  margin: 0.5rem;
}

.item label {
  height: 100%;
}

.checkbox {
  width: 2.5rem;
  height: 100%;
}

.itemInfo {
  text-align: center;
  padding: 0 1rem;
}

.purchased {
  background: linear-gradient(to right, #00705a, #00a15e);
  color: #ffffff;
}

.purchased p {
  text-decoration: line-through;
}

#totalPriceDiv {
  margin-top: 2rem;
  font-size: 1.5em;
  font-weight: bold;
  color: #444444;
  text-align: center;
  padding: 1rem;
  background: #e0e0e0;
  border-radius: 8px;
}

@media (max-width: 600px) {
  #itemForm {
    width: 100%;
  }

  input[type="text"],
  input[type="number"] {
    max-width: calc(100% - 2rem);
  }

  .button-group {
    -webkit-box-orient: vertical; /* For older versions of Chrome and Safari */
    -webkit-box-direction: normal; /* For older versions of Chrome and Safari */
    -ms-flex-direction: column; /* For Internet Explorer 10 */
    flex-direction: column; /* Standard syntax for modern browsers (widely supported) */

    gap: 0.5rem; /* Set the gap between items of the element */
  }
}
