html {
  margin: 0;
  height: 100%; /* Set the height of the element */
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth; /* Set the scroll behavior of the element */
}

.wrapper {
  min-height: 100vh; /* Ensure the wrapper takes at least the full height of the viewport */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
}

.content {
  flex: 1; /* Allow content to grow and take available space */
}

body {
  margin: 0 10vw;
  max-width: 80vw;
  padding: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
}

nav {
  position: relative;
  width: 100vw;
  left: -10vw;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(to right, #00705a, #00a15e);
  color: #ffffff;
  box-shadow: 0 2px 4px #00000037;
  box-sizing: border-box;
}

.container {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px #0000001a;
  margin-top: 2rem;
}

#itemForm {
  /* Use flexbox to align content inside the element */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox) */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model) */
  display: flex; /* Standard syntax for modern browsers (widely supported) */

  -webkit-box-orient: vertical; /* For older versions of Chrome and Safari */
  -webkit-box-direction: normal; /* For older versions of Chrome and Safari */
  -ms-flex-direction: column; /* For Internet Explorer 10 */
  flex-direction: column; /* Standard syntax for modern browsers (widely supported) */

  align-items: center;
  margin-bottom: 2rem;
}

#itemForm label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  padding: 0.75rem;
  width: 100%;
  max-width: 300px;
  transition: border 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #00705a;
  outline: none;
}

.button-group {
  /* Use flexbox to align content inside the element */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox) */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model) */
  display: flex; /* Standard syntax for modern browsers (widely supported) */
  justify-content: center;
  gap: 1rem; /* Set the gap between items of the element */
}

#submitButton,
#clearButton {
  border: none;
  background: #00705a;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  border-radius: 5px;
}

#submitButton:hover,
#editButton:hover,
#clearButton:hover {
  background: #00795a;
  transform: translateY(-2px);
}

.button-container {
  width: 100%; /* Set the width of the element */
  /* Use flexbox to align content inside the element */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox) */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model) */
  display: flex; /* Standard syntax for modern browsers (widely supported) */

  -webkit-box-orient: vertical; /* For older versions of Chrome and Safari */
  -webkit-box-direction: normal; /* For older versions of Chrome and Safari */
  -ms-flex-direction: column; /* For Internet Explorer 10 */
  flex-direction: column; /* Standard syntax for modern browsers (widely supported) */

  justify-content: space-between;
  gap: 0; /* Set the gap between items of the element */
}

.editButton {
  border: none;
  background: #00705a;
  color: #ffffff;
  margin: 0 0 5px;
  padding: 0.5rem 0; /* Set the padding of the element */
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  border-radius: 5px;
}

.deleteButton {
  border: none;
  background: #b10000;
  color: #ffffff;
  padding: 0.5rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  border-radius: 5px;
  width: 100%;
}

.deleteButton:hover {
  background: #bf0000;
  transform: translateY(-2px);
}
.button-container {
  width: 100%; /* Set the width of the element */
  /* Use flexbox to align content inside the element */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox) */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model) */
  display: flex; /* Standard syntax for modern browsers (widely supported) */
  justify-content: space-between;
}

.editButton,
.deleteButton {
  border: none;
  background: #00705a;
  color: #ffffff;
  padding: 0.5rem; /* Set the padding of the element */
  cursor: pointer;
  transition: background 0.3s, transform 0.25s;
  border-radius: 5px;
  width: auto; /* Set the width of the element */
}

.deleteButton {
  background: #b10000;
}

#itemsDiv {
  margin-top: 2rem;
  min-width: 80vw;
  width: 80vw;
}

.item {
  display: grid;
  grid-template-columns: 2.5rem 1fr 5rem;
  margin: 10px 0;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0000001a;
  padding: 0.5rem;
  align-items: center;
  transition: transform 0.2s;
}

.item:hover {
  transform: scale(1.02);
}

p {
  margin: 0.5rem;
}

.item label {
  height: 100%;
}

.checkbox {
  width: 2.5rem;
  height: 100%;
}

.itemInfo {
  text-align: center;
  padding: 0 1rem;
}

.purchased {
  background: linear-gradient(to right, #00705a, #00a15e);
  color: #ffffff;
}

.purchased p {
  text-decoration: line-through;
}

#totalPriceDiv {
  margin-top: 2rem;
  font-size: 1.5em;
  font-weight: bold;
  color: #444444;
  text-align: center;
  padding: 1rem;
  background: #e0e0e0;
  border-radius: 8px;
}

footer {
  color: #ffffff; /* Set the color for the text of the element */
  left: -10vw; /* Position the element relative to the left edge of its nearest positioned ancestor */
  margin: 1rem 0 0; /* Set the size of the margin for the element */
  padding-top: 0; /* Set the thickness for the top padding area of the element */
  padding-right: 0; /* Set the thickness for the right padding area of the element */
  padding-bottom: 0; /* Set the thickness for the bottom padding area of the element */
  padding-left: 0; /* Set the thickness for the left padding area of the element */
  position: relative; /* Set the position of the element */
  text-align: center; /* Align the text in the element */
  width: 100vw; /* Set the width of the element */
  background: linear-gradient();
  background: -moz-linear-gradient(
    to right,
    #00705a,
    #00a15e
  ); /* For older versions of Firefox */
  background: -o-linear-gradient(
    to right,
    #00705a,
    #00a15e
  ); /* For older versions of Opera */
  background: -webkit-linear-gradient(
    to right,
    #00705a,
    #00a15e
  ); /* For older versions of Chrome and Safari */
  background: -ms-linear-gradient(
    to right,
    #00705a,
    #00a15e
  ); /* For Internet Explorer 10 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00705a', endColorstr='#00a15e', GradientType=0); /* For Internet Explorer 9 and below */
  background: linear-gradient(
    to right,
    #00705a,
    #00a15e
  ); /* Standard syntax for modern browsers (widely supported) */
}

footer p {
  margin: 21px 0px; /* Set the size of the margin for the element */
}

footer a {
  color: #ffffff; /* Set the color for the text of the element */
  text-decoration: underline; /* Specify the decoration applied to the text, affecting its visual presentation */
}

footer a:visited {
  color: #ffffff; /* Set the color for the text of the element */
}

.bmc-button {
  display: block; /* Specify the display behavior of the element */
  width: fit-content; /* Set the width of the element */
  height: 1.5rem; /* Set the height of the element */
  margin: 0 auto 25px; /* Set the size for the margin of the element */
  background-color: #ff843f !important; /* Set the color for the background of the element */
  color: #ffffff; /* Set the color for the text of the element */
  font-family: "Cookie", cursive; /* Set the font family for the text of the element */
  font-weight: bold; /* Set the font weight for the text of the element */
  text-decoration: none; /* Set the decoration for the text of the element */
  text-shadow: 1px 1px 2px #00000080; /* Set the shadow for the text of the element */
  border: none;
  padding: 10px 20px; /* Set the padding of the element */
  cursor: pointer; /* Specify the type of cursor to be displayed when hovering over the element */
  outline: none;
  box-shadow: 0 4px 8px #00000037; /* Set the shadow of the element */
  /* Set the border radius for the corners of the element */
  -webkit-border-radius: 5px; /* For older versions of Chrome and Safari */
  -moz-border-radius: 5px; /* For older versions of Firefox */
  -o-border-radius: 5px; /* For older versions of Opera */
  border-radius: 5px; /* Standard property for border radius */
  /* Add a transition effect for changes in properties */
  -webkit-transition: 0.5s; /* For older versions of Chrome and Safari */
  -o-transition: 0.5s; /* For older versions of Opera */
  transition: 0.5s; /* Standard syntax for modern browsers (widely supported) */
}

.bmc-button:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px #0000004d;
}

to-top {
  background: #009688;
  position: fixed;
  bottom: calc(3.5rem + 1px);
  right: 25px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 2;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  pointer-events: none;
  transition: 0.25s;
}

to-top.active {
  bottom: calc(3.5rem + 1px);
  pointer-events: auto;
  opacity: 1;
}

@media (max-width: 600px) {
  #itemForm {
    width: 100%;
  }

  input[type="text"],
  input[type="number"] {
    max-width: calc(100% - 2rem);
  }

  .button-group {
    -webkit-box-orient: vertical; /* For older versions of Chrome and Safari */
    -webkit-box-direction: normal; /* For older versions of Chrome and Safari */
    -ms-flex-direction: column; /* For Internet Explorer 10 */
    flex-direction: column; /* Standard syntax for modern browsers (widely supported) */

    gap: 0.5rem; /* Set the gap between items of the element */
  }
}
